:javascript
  $(function() {
    discussions = new DiscussionCollection(#{@discussions.to_json.html_safe})
    discussions_view_list = new DiscussionListView({collection : discussions})
    NoDeventDemo.set("current_user", new User(#{current_user.to_json.html_safe}));

    $("#new_discussion").bind("ajax:success", function(xhr, data, status) {
      $("#new_discussion #discussion_body").val('');
    });

    $(".session_form").parents("form").bind("ajax:success", function(xhr, data, status) {
      window.NoDeventDemo.set("current_user", new User(data));
    });
  });
.well
  %h2 Post
  = form_for @discussion, :class => "form-horizontal", :method => :post, :remote => true, :format => :json do |f|
    %p
      = f.text_area  :body, :required => true, :rows => 3
    = f.submit("Post")


.discussions-list