:javascript
  $(function() {
    discussions = new DiscussionCollection(#{@discussions.to_json.html_safe})
    discussions_view_list = new DiscussionListView({collection : discussions})
    $("#new_discussion").bind("ajax:success", function(xhr, data, status) {
      console.log("success");
      $("#new_discussion #discussion_body").val('');
    });
    $("#new_discussion").bind("ajax:error", function(xhr, data, status) {
      console.log("success");
    });

  });
.row
  .span8.offset3
    .well
      .row
        .span3
          %h2 Post
          = form_for @discussion, :class => "form-horizontal", :method => :post, :remote => true, :format => :json do |f|
            %p
              = f.text_area  :body, :required => true, :rows => 3

            = f.submit("Post")
        - if current_user.present?
          .span3.logout
            = button_to "Logout", sessions_path, :method => :delete

        - else
          .span3.login
            %h2 Login
            = form_tag sessions_path(), :method => :post do
              %p
                = text_field_tag  :username, "", :required => true
              %p
                = text_field_tag  :password, "", :required => true

              = submit_tag("Login")

    .discussions-list