:javascript
  $(function() {
    discussions = new DiscussionCollection(#{@discussions.to_json.html_safe})
    discussions_view_list = new DiscussionListView({collection : discussions})
  });


= form_for @new_discussion, :format => :json, :method => :post, :remote => true do |f|
  %p
    = f.label :subject
    %br
    = f.text_field :subject, :required => true
  %p
    = f.label :body
    %br
    = f.text_field  :body, :required => true

  = f.submit("Save")

.discussions-list