!!!
%html{lang: :en}
  %head
    %title NoDevent Demo
    = javascript_include_nodevent
    = javascript_include_tag 'application'
    = stylesheet_link_tag "application"
    = csrf_meta_tags
    = yield :head
    = yield :js

  %body
    .top-error
      #error-box.alert.alert-error
        .right.inline-block.float-right
          .icon-repeat.reload{:title => "Reload"}
        %span.message
          Loading...
    .navbar
      .navbar-inner
        .container


          = link_to "NoDeventDemo", root_path, :class => "brand"

    %a{:href => "https://github.com/cconstantine/NoDeventDemo"}
      %img{:style => "position: absolute; top: 0; right: 0; border: 0;",
           :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png",
           :alt=>"Fork me on GitHub"}

    .container-fluid
      .row-fluid
        .span8
          %h3
            Demo app for
            = link_to "NoDevent", "https://github.com/cconstantine/nodevent"
          %p
            Try opening two browser windows and posting a message.  View-source!  Check out the code!
          %p
            On the surface this looks like any other html5-like webapp, but you'll
            note that besides initial page load the only way for new posts to make
            it into the discussion list is via a NoDevent event getting sent from the server.  With NoDevent
            you can get something much more like a true MVC, where the View changes on model updates!
          = yield
        .span3.login_forms
          #logout.float-right
            = button_to "Logout", sessions_path(:format => :json), :method => :delete, :class => "session_form", :remote => true

          #login
            %h2 Login
            = form_tag sessions_path(:format => :json), :method => :post, :remote => true do
              .hidden.session_form
              .inputs
                #user_login-error.error.alert.alert-error{style:"display:none;"}
                = text_field_tag  :username, "", :required => true
                = text_field_tag  :password, "", :required => true, :type => :password
                = submit_tag "Login"

            %h2 Register
            = form_for User.new(), :format => :json, :method => :post, :remote => true do |f|
              .hidden.session_form
              .inputs
                #user_username-error.error.alert.alert-error{style:"display:none;"}
                = f.text_field :username,  :required => true
                = f.text_field :password,  :required => true, :type => :password
                = submit_tag "Register"