<!DOCTYPE html>
<html>
<head>
  <title>NoDevent Demo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= yield :head %>
  <%= yield :js %>
</head>
<!--
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        NoDevent
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <a target="_blank" href="https://github.com/cconstantine/NoDeventDemo">
              Github
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
-->
<body>

<%= yield %>

</body>
</html>
